html {
  font-family: "Poppins", sans-serif;

  header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgb(209, 209, 209);

    .header__container {
      max-width: $max-width;
      margin: auto;

      h1 {
        margin: 0;
        .header__logo {
          text-decoration: none;
          color: black;
          font-size: $rem * 3;
          font-weight: 900;
          &:hover {
            filter: drop-shadow(3px 3px 1px rgb(173, 173, 173));
          }
        }
      }

      .nav__ul {
        margin: 0;
        padding: 0;

        li {
          display: inline;
          list-style: none;
          margin: 0rem $rem * 0.4;

          .nav__link {
            text-decoration: none;
            color: black;
            background-image: linear-gradient(currentColor, currentColor);
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 0% 1.5px;
            transition: background-size 0.5s;
            &:hover {
              background-size: 100% 1.5px;
            }
          }
        }
      }

      .header__contacto {
        text-decoration: none;
        color: black;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 0% 1.5px;
        transition: background-size 0.5s;
        &:hover {
          background-size: 100% 1.5px;
        }
      }

      .header__burger-menu {
        display: none;
      }

      @media only screen and (max-width: $bootstrap-width) {
        flex-direction: row-reverse;

        .header__contacto,
        .nav__ul {
          display: none;
        }
        .header__burger-menu {
          display: block;

          .burger-menu--width {
            @include sizes(75vw, 100vh);
            background-color: rgba(255, 255, 255, 0.97);

            .button__close-x {
              transition: all 0.5s;

              &:hover {
                transform: rotateZ(180deg);
              }
            }

            .nav__ul-burger {
              list-style: none;
              margin-bottom: $rem * 2;

              .list-group-item {
                background-color: transparent;
                padding: $rem/2;

                .nav__link-burger {
                  text-decoration: none;
                  color: black;
                  background-image: linear-gradient(currentColor, currentColor);
                  background-position: 50% 100%;
                  background-repeat: no-repeat;
                  background-size: 0% 1.5px;
                  transition: background-size 0.5s;
                  &:focus {
                    background-size: 100% 1.5px;
                  }
                }
              }
            }

            .burger-menu__footer {
              position: fixed;
              bottom: 5%;
              .footer__logo {
                margin: $rem * 0.4;
              }
            }
          }
        }
      }
    }
  }

  footer {
    background-color: rgba(226, 226, 226, 0.9);
    border-top: rgb(109, 109, 109) 1px solid;

    .footer__container {
      max-width: $max-width;
      margin: auto;

      .footer__text {
        margin-bottom: $rem/2;
        margin-top: $rem;
        font-size: $rem * 1.2;
      }

      .footer__ul {
        margin-bottom: $rem;
        padding: 0;

        li {
          list-style: none;
          margin: $rem/2;

          a {
            text-decoration: none;
            color: black;
            &:hover img {
              transform: scale(1.05);
            }
          }
        }
      }

      .footer__ul--redes {
        @extend .footer__ul;
        // no pongo el justify-content-center con bootstrap porque con media-query lo cambio
        justify-content: center;

        .li__redes {
          margin: 0rem $rem/2;
        }
      }

      .footer__map {
        @include sizes($rem * 15.5, $rem * 8);
        margin-bottom: $rem;
        filter: drop-shadow(1px 1px 2px grey);
      }

      // altura que se pone abajo del otro ul
      @media only screen and (max-width: 409px) {
        .footer__ul--redes {
          justify-content: flex-start;
        }
      }
    }

    .footer__copyright {
      border-top: rgb(190, 190, 190) 1px solid;

      p {
        font-size: $rem * 0.85;
        margin: 0;
        padding: $rem/2;
        text-align: center;

        a {
          text-decoration: none;
          color: black;
          background-image: linear-gradient(currentColor, currentColor);
          background-position: 50% 100%;
          background-repeat: no-repeat;
          background-size: 0% 1.5px;
          transition: background-size 0.5s;
          &:hover {
            background-size: 100% 1.5px;
          }
        }

        @media only screen and (max-width: 409px) {
          text-align: left;
        }
      }
    }
  }

  main {
    max-width: $max-width;
    margin: auto;
  }
}
